<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
  <h1>Team Name: <%=params[:team_name]%></h1>
  <h2><p>Coach: <%=@coach%></p></h2>
  <h2><p>Point Guard: <%=@pguard%></p></h2>
  <h2><p>Shooting Guard: <%=@sguard%></p></h2>
  <h2><p>Small Forward: <%=@sforward%></p></h2>
  <h2><p>Power Forward: <%=@pforward%></p></h2>
  <h2><p>Center: <%=@center%></p></h2>

 </head>
 <body>



 </body>
</html>
